

<div class="content-area content-right">
    <div class="app-wrapper">
        <div class="datatable-search users-list-filter">
            <div class="card-panel">
                <div class="row">
                   
                </div>
            </div>
        </div>
        <div id="button-trigger" class="card card card-default scrollspy border-radius-6 fixed-width">
            <div class="card-content p-0">
                <table id="data-table-contact" class="display responsive" style="width:100%">
                    <thead>
                        <tr>
                         
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>