@model ListViewModel<object>
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf

<div class="content-area content-right">
    <div class="app-wrapper">
        <div class="datatable-search users-list-filter">
            <div class="card-panel">
                <div class="row">
                    <form id="tablas-sistema-form" novalidate>
                        @for (var f = 0; f < Model.Encabezados.Count(); f++)
                        {<div class="col s12 m6 l3">
                                <div class="input-field">
                                    <input id="filtro_@f" class="filtro-tabla validate" type="text">
                                    <label for="filtro_@f">@Model.Encabezados.ElementAt(f)</label>
                                </div>
                            </div>
                        }
                        <div class="col s12 m6 l3 display-flex align-items-center show-btn">
                            <button type="submit" class="btn btn-block indigo waves-effect waves-light">Buscar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div id="button-trigger" class="card card card-default scrollspy border-radius-6 fixed-width">
            <div class="card-content p-0">
                <table id="data-table-contact" class="display responsive" style="width:100%">
                    <thead>
                        <tr>
                            @foreach (var cabecera in Model.Encabezados)
                            {
                                <th>@cabecera</th>
                            }
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>