@font-face {
    font-family: 'NeoSansStd_Regular';
    src: url('../fonts/Neo-Sans-Family-Pack/NeoSansStd_Regular.otf')format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NeoSansStd_Medium';
    src: url('../fonts/Neo-Sans-Family-Pack/NeoSansStd_Medium.otf')format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NeoSansStd_Light';
    src: url('../fonts/Neo-Sans-Family-Pack/NeoSansStd_Light.otf')format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NeoSansStd_Bold';
    src: url('../fonts/Neo-Sans-Family-Pack/NeoSansStd_Bold.otf')format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NeoSansStd_Ultra';
    src: url('../fonts/Neo-Sans-Family-Pack/NeoSansStd_Ultra.otf')format('truetype');
    font-weight: normal;
    font-style: normal;
}