<div>
    <div class="section row equal-col modal-content">

        <!--Header-->
        <div class="col s12">
            <h4>@ViewData["Titulo"]</h4>
            <div class="divider"></div><br />
        </div>

        <div class="col s12">
            <h6 class="center-align">@ViewData["Mensaje"]</h6>
        </div>
    </div>

    <div class="modal-footer">
        <button class="waves-effect btn-flat btn-orange" type="button" id="rol-modal-cancel">Cancelar</button>
    </div>
</div>
