/*----------------------------------------
  Contadores
------------------------------------------*/
/*.bullet 
{
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: .2rem;
    border-radius: 50%;
}*/

td, th 
{
    text-align: center;
}

.small-card 
{
    margin: 1rem auto 1rem auto;
    width: 30%;
}

.content-area 
{
    margin-top: 49px;
}

.content-area .app-wrapper .datatable-search
{
    position: relative;
}

.content-area .app-wrapper .datatable-search .search-icon
{
    position: absolute;
    top: 15px;
    left: 15px;

    color: #bdbdbd;
}

.content-area .app-wrapper .datatable-search .app-filter
{
    max-width: calc(100% - 3rem);
    margin-bottom: .5rem;
    padding: .2rem;
    padding-left: 2.75rem;

    border: none;
    border-radius: .4rem;
    background-color: #fff;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .12), 0 1px 5px 0 rgba(0, 0, 0, .2);
}

.content-area .app-wrapper .datatable-search .app-filter:focus
{
    border-bottom: none !important;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .12), 0 1px 5px 0 rgba(0, 0, 0, .2) !important;
}

.content-area .app-wrapper .avatar-contact img
{
    width: 38px;
    height: 38px;

    border-radius: 50%;
    background-color: #f5f5f5;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .12);
}

.content-area .app-wrapper .dataTables_wrapper .dataTables_length,
.content-area .app-wrapper .dataTables_wrapper .dataTables_filter 
{
   display: none;
}

.content-area .app-wrapper .dataTables_wrapper .dataTables_info
{
   margin-left: 10px;
   color: #616161;
}

.content-area .app-wrapper .dataTables_wrapper .dataTables_paginate 
{
   margin-right: 1.5rem;
   padding-bottom: .75rem;
}

.content-area .app-wrapper .dataTables_wrapper .dataTables_paginate .paginate_button 
{
   margin-top: .25rem;
   padding: .25em .65em;
}

.content-area .app-wrapper .dataTables_wrapper .dataTables_paginate .paginate_button.current,
.content-area .app-wrapper .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover 
{
   color: #fff !important;
   border: 1px solid #FF6900;
   border-radius: 6px;
   background: #FF6900;
   box-shadow: 0 0 8px 0 #989898;

}

.content-area .app-wrapper .dataTables_wrapper .dataTables_paginate .paginate_button:hover 
{
   color: #FF6900 !important;
   cursor: pointer;
}

.content-area .app-wrapper .dataTables_wrapper .remove-margin
{
    margin-right: 0rem !important;
    margin-left: 0px !important;
}

.content-area .app-wrapper .dataTables_wrapper .dataTables_paginate 
{
    margin-right: 0rem;
    padding-bottom: .75rem;
}

.row .col 
{
    padding: 0 .5rem !important;
}

.input-field 
{
    margin-bottom: 0.5rem !important;
}

.section 
{
    padding: 0rem 0 !important;
}

.icono 
{
    font-size: 38px;
}

@media only screen and (min-width: 600px) 
{
    .modal-confirm-message-small 
    {
        max-height: 23% !important;
        width: 70% !important;
    }
}

@media only screen and (min-width: 900px) 
{
    .modal-confirm-message-small 
    {
        max-height: 23% !important;
        width: 50% !important;
    }
}

@media only screen and (min-width: 1300px) 
{
    .modal 
    {
        width: 30% !important;
    }

    .modal.modal-fixed-footer 
    {
        height: 40% !important;
    }

    .modal-confirm-message-small 
    {
        max-height: 33% !important;
        width: 40% !important;
    }
}

@media only screen and (min-width: 1400px)
{
    .modal 
    {
        width: 20% !important;
    }

    .modal.modal-fixed-footer 
    {
        height: 30% !important;
    }

    .modal-confirm-message-small 
    {
        max-height: 23% !important;
        width: 30% !important;
    }

    .small-card 
    {
        width: 40%
    }
}


@media screen and (max-width: 1400px)
{
    .icon-background
    {
        margin-left: .9375rem;
    }

    .small-card {
        width: 60%
    }
}

@media screen and (max-width: 1055px)
{
    .icon-background
    {
        margin-left: .9375rem;
    }

    .small-card {
        width: 70%
    }
}

@media screen and (max-width: 540px)
{
    .icon-background
    {
        margin-left: .625rem;
    }

    .small-card{
        width: 100%
    }

    .modal-confirm-message-small {
        max-height: 30% !important;
        width: 50% !important;
    }
}