/*----------------------------------------
  Despachos
------------------------------------------*/
/*.content-area 
{
    margin-top: 9px;
}*/

.content-area .app-wrapper .datatable-search
{
    position: relative;
}

.content-area .app-wrapper .datatable-search .search-icon
{
    position: absolute;
    top: 15px;
    left: 15px;

    color: #bdbdbd;
}

.content-area .app-wrapper .datatable-search .app-filter
{
    max-width: calc(100% - 3rem);
    margin-bottom: .5rem;
    padding: .2rem;
    padding-left: 2.75rem;

    border: none;
    border-radius: .4rem;
    background-color: #fff;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .12), 0 1px 5px 0 rgba(0, 0, 0, .2);
}

.content-area .app-wrapper .datatable-search .app-filter:focus
{
    border-bottom: none !important;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .12), 0 1px 5px 0 rgba(0, 0, 0, .2) !important;
}


.content-area .app-wrapper .dataTables_wrapper .dataTables_length,
.content-area .app-wrapper .dataTables_wrapper .dataTables_filter 
{
   display: none;
}

.content-area .app-wrapper .dataTables_wrapper .dataTables_info
{
   margin-left: 10px;
   color: #616161;
}

.content-area .app-wrapper .dataTables_wrapper .dataTables_paginate 
{
   margin-right: 1.5rem;
   padding-bottom: .75rem;
}

.content-area .app-wrapper .dataTables_wrapper .dataTables_paginate .paginate_button 
{
   margin-top: .25rem;
   padding: .25em .65em;
}

.content-area .app-wrapper .dataTables_wrapper .dataTables_paginate .paginate_button.current,
.content-area .app-wrapper .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover 
{
   color: #fff !important;
   border: 1px solid #FF6900;
   border-radius: 6px;
   background: #FF6900;
   box-shadow: 0 0 8px 0 #989898;

}

.content-area .app-wrapper .dataTables_wrapper .dataTables_paginate .paginate_button:hover 
{
   /*color: #FF6900 !important;*/
   cursor: pointer;
}

.content-area .app-wrapper .dataTables_wrapper .remove-margin
{
    margin-right: 0rem !important;
    margin-left: 0px !important;
}

.row .col {
    padding: 0 .5rem !important;
}

.input-field {
    margin-bottom: 0.5rem !important;
}

.section {
    padding: 0rem 0 !important;
}

.icono {
    font-size: 38px;
}

#detalle
{
    margin: 0 0 1rem 0;
}

#consolidado 
{
    margin: 0 0 1rem 0;
}

.contenedor-tabla 
{
    max-width: 100%;
    /*overflow-x: scroll;*/
}

/*.tabla-cebra thead tr
{
    color: white;
    background-color: #FF6900;
    font-size: 13px;
}*/

.tabla-cebra th
{
    min-width: 150px;
    padding: 0.5rem;
}

.tabla-cebra td 
{
    min-width: 150px;
    padding: 0.1rem;
}


.tabla-cebra tbody tr
{
    background: white;
}

.tabla-cebra tbody tr:nth-child(2n)
{
    background: #f9f9f9;
}

@media only screen and (min-width: 650px) {
    .modal-confirm-message-small {
        max-height: 170px !important;
        width: 45% !important;
    }
}


@media only screen and (min-width: 900px) 
{
    .modal-confirm-message-small {

        max-height: 220px !important;
        width: 45% !important;
    }
}

@media only screen and (min-width: 1300px) 
{
    .modal 
    {
        width: 70% !important;
    }

    .modal.modal-fixed-footer
    {
        height: 130% !important;
    }

    .modal-confirm-message-small 
    {
        max-height: 33% !important;
        width: 50% !important;
    }
}

@media only screen and (min-width: 1400px) 
{
    .modal 
    {
        width: 50% !important;
    }

    .modal.modal-fixed-footer 
    {
        height: 80% !important;
    }

    .modal-confirm-message-small 
    {
        max-height:  220px !important;
        width: 35% !important;
    }
}