@model ListViewModel<TTrailer>

<div id="button-trigger" class="card small-card card-default scrollspy border-radius-6 fixed-width">
    <div class="card-content">
        <table id="data-table-trailer" class="display" style="width:100%; white-space:nowrap" data-turbolinks="false">
            <thead>
                <tr>
                    @foreach (var cabecera in Model.Encabezados)
                    {
                        <th>@cabecera</th>
                    }
                </tr>
            </thead>
            <tbody>
                @foreach (var trailer in Model.Entidades)
                {
                <tr> 
                    <td>@trailer.PlacaTrailer</td>
                    <td>
                        <a class="cursor-point @(@Model.ActionsPermission.Borrar ? "" : "disable-action")" data-turbolinks="false"><i class="material-icons trailer-action trailer-delete" data-trailerId="@trailer.PlacaTrailer">delete</i></a>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>

